
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?ehckxo');
	src:url('/fonts/icomoon.eot?#iefixehckxo') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?ehckxo') format('truetype'),
		url('/fonts/icomoon.woff?ehckxo') format('woff'),
		url('/fonts/icomoon.svg?ehckxo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
