
@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?ctccsg');
    src:url('/fonts/icomoon.eot?ctccsg#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?ctccsg') format('truetype'),
        url('/fonts/icomoon.woff?ctccsg') format('woff'),
        url('/fonts/icomoon.svg?ctccsg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}