
//$white: #E8E8E8;
$white: #DBDBDB;
//$black: #000;
$black: #1B1F28;
$transparent: rgba(255,255,255,0);

$blue: #00B4CC;

$bgblue: #008C9E;


$facebook: '\e600';
$instagram: '\e602';
$twitter: '\e603';
$linkedin: '\e604';
$github: '\e900';

$tools: '\e601';
$tools2: '\e608';
$zoom: '\e609';
$images: '\e60b';
$mail: '\e605';
$mail2: '\e606';
$home: '\e60a';

$down: '\e607';
$up: '\e60e';
$left: '\e60d';
$right: '\e60c';